extends layout

block content
  h1 Pick a login
  ul
    li
      a(href="/auth/google", class="google")
        img(src="/images/GooglePlus.png")
    li
      a(href="/auth/facebook", class="facebook")
        img(src="/images/Facebook.png")
    li
      a(href="/auth/twitter", class="twitter")
        img(src="/images/Twitter.png")
    li
      a(href="/auth/github", class="github")
        img(src="/images/Github.png")
    li
      a(href="/auth/linkedin", class="linkedin")
        img(src="/images/Linkedin.png")
    li
      a(href="/auth/email", class="email")
        img(src="/images/Email.png")
