doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src="/lib/jquery/dist/jquery.js")
    script(src="/lib/bootstrap/dist/js/bootstrap.js")
  body
    block content
