/* ** ** ** ** ** ** **
* App config file
* 
* Since we're using OpenShift for our server, here's a list of 
*	Environmental Variables that will assign the constants below.
*	https://developers.openshift.com/en/managing-environment-variables.html
* 
* 
* Firebase: How does this all work?
* MongoDB is great but Firebase continually proves to be easier to develop and
*	manage, friendlier on the eyes (UIX-wise), and easier to download data and manipulate.
*	The { firebase: null } param is where we store the firebase connection when it's assigned
* 	on /libs/Model.js
*	
* ** ** ** ** ** ** **/
var path     = require('path')
//Path:        /path/to/app.js/from/config/
, rootPath = path.normalize(__dirname + "/../")

module.exports = { 
	//DEVELOPMENT
    development: {
        rootPath: rootPath,
        port:     process.env.PORT || 8080,
        ip:       process.env.HOST || "localhost",
		strategies: {
			//Google Config: https://code.google.com/apis/console
			//https://developers.google.com/+/web/api/rest/oauth#login-scopes	
			//https://developers.google.com/apis-explorer/#p/
			google: {
				clientID:     '390346120956-o7tvjnq9iqc3m41tuij3h1277uk8m68o.apps.googleusercontent.com',
				clientSecret: '0AGK_CD69MmgjUqwFmEdlRzF',
				callbackURL:  'http://localhost:8080/auth/google/callback',
				profileFields: [
					'name', 'email', 'address'
				]
			}, 
			//Twitter Config: https://apps.twitter.com
			//https://dev.twitter.com/overview/api/users
			twitter: {
				consumerKey: '6GVJEPke3kJGvmIqjSBi3iMhv',
				consumerSecret: '8ngXaq8ZVOz5fEda5C5EydoEwnbjohjqqbiiNdvgzxYUah8w10',
				callbackURL: 'http://localhost:8080/auth/twitter/callback',
				passReqToCallback: true
			},
			//Facebook Config: https://developers.facebook.com/apps
			//https://developers.facebook.com/docs/graph-api/reference/user
			facebook: {
				clientID: '1685410461680498',
				clientSecret: '62f435736ac61129663a7295254670ea',
				callbackURL:  'http://localhost:8080/auth/facebook/callback',
				passReqToCallback: true,
				profileFields: [ 'id', 'name', 'address', 'age_range', 'location', 'locale', 'timezone',
					'photos', 'about', 'bio', 'birthday', 'context', 'currency', 'devices', 'education', 
					'email', 'gender', 'hometown', 'interested_in', 'is_verified', 'languages', 'name_format', 
					'payment_pricepoints', 'political',
					'relationship_status', 'religion', 'significant_other', 'verified',
					'website', 'work', 'cover', 'movies', 'music', 'television'
				]
			},
			//https://github.com/settings/applications
			github: {
				clientID: "4c0afced01cad68f3886",
				clientSecret: "f67e6a02dd6e3acd3be794f666e7c66d0a719e04",
				callbackURL:  'http://localhost:8080/auth/github/callback'
			},
			//https://developer.linkedin.com/
			//https://developer.linkedin.com/docs/fields
			linkedin: {
				consumerKey: "75mgmydq8elwle",
				consumerSecret: "vSrylKR9T7SA1xrP",
				callbackURL:  'http://localhost:8080/auth/linkedin/callback',
				profileFields: [ 'email-addresses', 'first-name', 'last-name', 'headline', 
					'location', 'industry', 'num-connections', 'num-connections-capped', 
					'specialties', 'positions', 'picture-url', 'picture-urls::(original)'
				]
			},
			local: {
				username: ''
			}
		}
    },
	//PRODUCTION
    production: {
        rootPath: rootPath,
        port:     process.env.OPENSHIFT_NODEJS_PORT || 80,
        ip  :     process.env.OPENSHIFT_NODEJS_IP,
		strategies: {
			google: {
				clientID:     '390346120956-o7tvjnq9iqc3m41tuij3h1277uk8m68o.apps.googleusercontent.com',
				clientSecret: '0AGK_CD69MmgjUqwFmEdlRzF',
				callbackURL:  rootPath + '/auth/google/callback'
			},
			twitter: {
				consumerKey: '6GVJEPke3kJGvmIqjSBi3iMhv',
				consumerSecret: '8ngXaq8ZVOz5fEda5C5EydoEwnbjohjqqbiiNdvgzxYUah8w10',
				callbackURL: rootPath + '/twitter/callback',
				passReqToCallback: true
			},
			facebook: {
				clientID: '1685410461680498',
				clientSecret: '62f435736ac61129663a7295254670ea',
				callbackURL:  rootPath + '/auth/facebook/callback',
				passReqToCallback: true
			},
			github: {
				clientID: "4c0afced01cad68f3886",
				clientSecret: "f67e6a02dd6e3acd3be794f666e7c66d0a719e04",
				callbackURL:  rootPath + '/auth/github/callback'
			},
			//https://github.com/settings/applications
			github: {
				clientID: "4c0afced01cad68f3886",
				clientSecret: "f67e6a02dd6e3acd3be794f666e7c66d0a719e04",
				callbackURL:  rootPath + '/auth/github/callback'
			},
			//https://developer.linkedin.com/
			linkedin: {
				consumerKey: "75mgmydq8elwle",
				consumerSecret: "vSrylKR9T7SA1xrP",
				callbackURL:  rootPath + '/auth/linkedin/callback',
				profileFields: [ 'email-addresses', 'first-name', 'last-name', 'headline', 
								'location', 'industry', 'num-connections', 'num-connections-capped', 
								'specialties', 'positions', 'picture-url', 'picture-urls::(original)']
			}
		}
    }
 }
 